<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<table>
  <thead>
    <tr>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if !user_signed_in? %>
      <h1>Log in to see the posts!</h1>
    <% end %>
    <% @posts.each do |post| %>
      <tr>
        <% if user_signed_in? %>
          <td><%= post.user.username %></td>
        <% end %>
        <td><%= post.post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if !user_signed_in? %>
  <%= link_to "Login", new_user_session_path, class:"button is-info" %>
<% end %>
<br>
<%= link_to 'New Post', new_post_path %>
