<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert]%>
      <p class="alert"><%= alert %></p>
    <% end %>
    <p>
      <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-info" %>
   
    <% end %>
    </p>
  </body>
</html>
